@{
    ViewBag.Title = "Class Bios";
}

@section scripts{
    <style>
        footer {
            display: none;
        }
    </style>
}

<div class="col-sm-12" style="margin-top:50px;">

    <!-- normal -->
    <div class="row">
        <div class="col-md-3">
            <div class="ih-item circle effect3 left_to_right">
                <a href="@Url.Action("Bio","Jake")">
                    <div class="img"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAaRAAAAJGM0OTJiMDY5LTUzOWUtNDM2YS1iNzg4LWE1MTNhMmRlZmYzNQ.jpg" alt="Jake Lunn"/></div>
                    <div class="info">
                        <h3>Jake</h3>
                        <p>Looping Lord</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="ih-item circle effect3 left_to_right">
                <a href="@Url.Action("Bio","Jason")">
                    <div class="img"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAT8AAAAJDMzZDVjOTJiLTllNWEtNDAwOS1hOGJmLWMyMDBlYTI2YzVmOA.jpg" alt="Jason Ciemiega"/></div>
                    <div class="info">
                        <h3>Jason</h3>
                        <p>Fun</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="ih-item circle effect3 left_to_right">
                <a href="@Url.Action("Bio","Richard")">
                    <div class="img"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/000/043/06f/28bc389.jpg" alt="Richard Gross"/></div>
                    <div class="info">
                        <h3>Richard</h3>
                        <p>Inventive</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ih-item circle effect3 left_to_right">
                <a href="@Url.Action("Bio","Lillian")">
                    <div class="img"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/005/06f/1ee/24feded.jpg" alt="Lillian Fleming"/></div>
                    <div class="info">
                        <h3>Lillian</h3>
                        <p>Multifaceted</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="ih-item circle effect3 left_to_right">
                <a href="@Url.Action("Bio","Nick")">
                    <div class="img"><img src="https://media.licdn.com/media/AAEAAQAAAAAAAAUGAAAAJDk0YzliYTFkLWQ2OWMtNDhmZS05MDJmLTEyNjc3NzZlZTliOA.jpg" alt="Nicholas Beauchamp"/></div>
                    <div class="info">
                        <h3>Nick</h3>
                        <p>Awesome</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ih-item circle effect3 left_to_right">
                <a href="@Url.Action("Bio","Andrew")">
                    <div class="img"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAJkAAAAJDlmZmZkOGQxLWI1MWMtNDYwYi04OWM2LTI3NTU4MjhlYTg2Mw.jpg" alt="Andrew Allen"/></div>
                    <div class="info">
                        <h3>Andrew</h3>
                        <p>Ranch Bugles</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ih-item circle effect3 left_to_right">
                <a href="@Url.Action("Bio","Deanna")">
                    <div class="img"><img src="https://media.licdn.com/media/AAEAAQAAAAAAAAJIAAAAJGVkZWFhMmI5LWJhZWUtNGY3ZC04NWJmLWM4MTUwMDMzYTIwZA.jpgg" alt="Deanna Carr"/></div>
                    <div class="info">
                        <h3>Deanna</h3>
                        <p>Caring</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ih-item circle effect3 left_to_right">
                <a href="@Url.Action("Bio","Raymundo")">
                    <div class="img"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAARaAAAAJDk3ZTNiZmRjLWZjMmQtNGVlNC1hOGEyLWZhYjlmYTUxOTgzNQ.jpg" alt="Raymundo Herrara"/></div>
                    <div class="info">
                        <h3>Ray</h3>
                        <p>Loves Reese's</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="ih-item circle effect3 left_to_right">
                <a href="@Url.Action("Bio","Tony")">
                    <div class="img"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAASuAAAAJGMxNGNjYmMxLTY1NjctNDBmYi05ZTIwLTI2M2FiODMyMjVlMQ.jpg" alt="Tony Harrison"/></div>
                    <div class="info">
                        <h3>Tony</h3>
                        <p>Creative</p>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="ih-item circle effect3 left_to_right">
                <a href="@Url.Action("Bio","Matt")">
                    <div class="img"><img src="https://media.licdn.com/media/AAEAAQAAAAAAAAXGAAAAJDExNGI2OTM2LTU3MDYtNGUxYS1iZDY2LWFmMjY5YTZhNjEyMQ.jpg" alt="Matt Greenwood"/></div>
                    <div class="info">
                        <h3>Matt</h3>
                        <p>Adaptive</p>
                    </div>
                </a>
            </div>
        </div>
        
    </div>

</div>

<!-- end normal -->
@section resourcescss {

    <link href="~/Content/Styles/Hover.css" rel="stylesheet" />
    
}
